
/* mobile screen and land screep mode css start */
@media (min-width: 320px) and (max-width: 480px){
    /* code write */
    .header-container{
        display: none !important;
    }
    .inner-container{
        width: 100%;
    }
   .inner-img-container{
       width: 100%;
   }
   .inner-img-container img{
    width: 80%;
   }
   .banner-section .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    }
   .banner-section .container .inner-container {
    width: 100%;
    }
    .banner-section .container{
        width: 100%;
    }
    .banner-section .inner-img-container {
        width: 100%;
        margin: 67px 0px 0px;
    }
    .banner-section .inner-img-container img {
        width: 329px;
        height: 260px;
        padding: 0px 0px 0px 20px;
    }
    .banner-section .container .inner-container h1 {
        font-size: 36px;
        line-height: 50px;
        font-weight: 700;
        color: #FFFFFF;
        margin-left: 27px;
        width: 80%;
    }
    .btn{
        margin-left: 23px;
    }
    .container{
        justify-content: center;
    }
    .container .blog{
        margin: 27px 0px 0px;
    }
    .latest-video{
        display: flex;
        justify-content: center;
        padding: 80px 0px;
        flex-direction: column;
    }
    .letest-innerContainer {
        width: 100%;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .letest-video-wrapper {
        width: 100%;
        z-index: 2;
        color: #fff;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .letest-video-container img {
        width: 100%;
    }
    .one {
        width: 90%;
        margin-top: 30px;
    }
    .one img{
        width: 100%;
    }
    .two {
        width: 86%;
    }
    .player {
        text-align: center;
        width: 100%;
    }
    .player-inner-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .player .mini,.player .choto{
        display: none;
    }
    .player-contant {
        margin: 104px 0px 0px 0px;
        padding: 10px;
        text-align: center;
    }
   /* code write */
  }
/* mobile screen and land screep mode css end */


/* tablate secreen and mini noot book css start */
@media (min-width: 481px) and (max-width: 768px){
   /* code write */
   .header-container{
    display: none !important;
   }
   .banner-section .container .inner-container h1{
    font-size: 42px;
    width: 100%;
    line-height: 54px;
    margin-left: 20px;
   }
   .btn{
       margin-left: 20px;
   }
   .banner-section .container .inner-container h1 {
    font-size: 36px;
    width: 90%;
    line-height: 46px;
   }
   .banner-section .inner-img-container img {
    width: 330px;
    height: 260px;
   }
   .container .blog {
    width: 260px;
    margin: 27px 10px 0px;
   }
   .container img {
    width: 260px;
    height: 220px;
   }
   .banner-section .inner-img-container{
       overflow: hidden;
   }
   .banner-section .inner-img-container img {
    width: 285px;
    height: 225px;
   }
   .latest-video{
    display: flex;
    justify-content: center;
    padding: 80px 0px;
    flex-direction: column;
    }
    .letest-innerContainer {
        width: 100%;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .letest-video-wrapper {
        width: 100%;
        z-index: 2;
        color: #fff;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .letest-video-container img {
        width: 100%;
    }
    .one {
        width: 90%;
        margin-top: 30px;
    }
    .one img{
        width: 100%;
    }
    .two {
        width: 86%;
    }
    .player .mini,.player .choto{
        display: none;
    }
    .player img {
        width: 300px;
        margin-right: 30px;
    }
   /* code write */
  }
/* tablate secreen and mini noot book css end */