/* Google fonts linking here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Global css start here */
    *{
        margin: 0px;
        padding: 0px;
    }
/* defaul parpuss using */
    body{
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 400px;
        line-height: 24px;
    }
    a, a:hover{
        text-decoration: none;
    }
    ul li{
        list-style: none;
    }
/* Global css end here */

/* header-section code start */

    /* only header */
    .header-section{
        width: 100%;
        background-color: #2D25A0;
        padding: 42px 0px 0px;
    }
    .header-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-wrapper{
        width: 1140px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-container  nav > a{
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        margin-right: 36px;
    }
    .header-container .fa-sign-in{
        font-size: 16px;
        margin-right: 8px;
    }
    .header-container .btn a{
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        width: 123px;
        height: 44px;
    }
    .header-container .btn{
        padding: 10px 24px;
        background-color: #E02C6D;
        border: 2px solid#E02C6D;
        transition: 1s;
        cursor: pointer;
        display: inline;
    }
    .header-container a{
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
    .header-container .btn:hover{
        background-color: transparent;
        color:#E02C6D;
        border: 2px solid #E02C6D;
        font-weight: 500;
    }
   /* banner-section */
    .banner-section{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 86px;
    }
    .banner-section .container{
        width: 1140px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .banner-section .container .inner-container{
        width: 50%;
    }
    .banner-section .container .inner-container h1{
        font-size: 64px;
        width: 93%;
        line-height: 80px;
        font-weight: 700;
        color: #FFFFFF;
        margin-bottom: 27px;
    }
    .banner-section .inner-img-container{
        width: 50%;
        margin: 67px 0px 0px;
    }
    .banner-section .inner-img-container img {
        width: 556px;
        height: 438px;
    }
    .btn .fa-arrow-right{
        margin-left: 8px;
    }

    .btn{
        padding: 10px 24px;
        background-color: #E02C6D;
        border: 2px solid#E02C6D;
        transition: 1s;
        cursor: pointer;
        display: inline;
    }
    a{
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
    .btn:hover{
        background-color: transparent;
        color:#E02C6D;
        border: 2px solid #E02C6D;
        font-weight: 500;
    }
/* header-section code end */

/* blog-section code start here */
    .blog-section{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 70px 0px 70px;
    }
    .container{
        width: 1140px;
        display: flex;
        flex-wrap: wrap;
    }
    .container .blog{
        width: 320px;
        margin: 27px 30px 0px 0px;
        padding: 15px;
        box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
    }
    .container img{
        width: 320px;
        height: 256px;
    }
    .container h3{
        margin: 16px 0px 10px;
        font-size: 28px;
        line-height: 40px;
        color: #18191F;
    }
    .container p{
        font-size: 16px;
        line-height: 26px;
        padding-bottom: 13px;
        color: #6C6C6C;
    }
/* blog-section code end here */

/* latest-video section code start here */
.latest-video{
    width: 100%;
    position: relative;
    background: url("../images/video-bg.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 80px 0px;
}
.overly-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    top: 0;
    left: 0;
}
.letest-innerContainer {
    width: 1140px;
    z-index: 2;
    display: flex;
    flex-direction: row;
}
.letest-video-container{
    position: relative;
}
.letest-video-container .videolink {
    position: absolute;
    top: 40%;
    left: 45%;
    border: 2px solid #fff;
    width: 70px;
    height: 70px;
    line-height: 58px;
    text-align: center;
    border-radius: 50px;
    transition: 1s;
}
.letest-video-container .videolink:hover{
    background-color: #fff;
    border: 2px solid #fff;
    color: #E02C6D;
}
.letest-video-container .videolink:hover .fa-play{
    color: #E02C6D;
}
.fa-play {
    color: #fff;
    font-size: 24px;
    line-height: 77px;
    text-align: center;
    transition: 1s;
}
.letest-video-container img{

}
.letest-video-container a{

}
.letest-video-wrapper {
    width: 100%;
    z-index: 2;
    color: #fff;
    padding: 0px 0px 0px 36px;
}
.two h4{
    width: 65%;
    margin: 5px 0px;
}
.two span{
    display: block;
    margin: 0px 0px 20px;
}

/* latest-video section code end here */

/* goals-club-section start */
    .goals-club-section{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 40px 0px;
        background: url("../images/bottom-wrapper-bg.jpg");
        background-size: cover;
    }
    .goals-club-section-container{
        width: 1140px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .player-inner-container{
        width: 100%;
        display: flex;
    }
    .player{

text-align: center;

}
    .player .choto {
        width: 75%;
        padding-top: 120px;
    }
    .player .mini{
       width: 61%;
       padding-top: 179px;
       display: block;
    }
    .player h4{
        font-size: 42px;
        color: #fff;
        font-weight: 500;
        line-height: 46px;
        margin: 20px 0px;
    }
    .player img{
       width: 300px;
    }
    
    .player-contant{
        margin: 104px  0px 0px 0px;
        padding: 10px;
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
        border-right: 2px solid #fff;
    }
    .name{
        font-size: 32px;
        color: #fff;
        margin: 0px 0px 20px;
    }
    .conty{
        font-size: 32px;
        color: #fff;
        margin: 0px 0px 20px;
    }
    .star{
        font-size: 18px;
        color: #fff;
        margin: 0px 0px 20px;
    }
    .fa-star{
        margin-right: 5px;
    }
    .tite{
        font-size: 21px;
        color: #fff;
        margin: 0px 0px 50px;
    }
    .ply-btn .fa-arrow-right{
        margin-left: 8px;
    }

    .ply-btn{
        padding: 10px 7px;
        background-color: #E02C6D;
        border: 2px solid#E02C6D;
        transition: 1s;
        cursor: pointer;
        display: inline;
    }
    a{
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
    .ply-btn:hover{
        background-color: transparent;
        color:#E02C6D;
        border: 2px solid #E02C6D;
        font-weight: 500;
    }
/* goals-club-section end*/

/* footer-section code start here */
    .footer-section{
        width: 100%;
        padding: 70px 0px;
        display: flex;
        justify-content: center;
    }
    .footer-container{
        width: 1140px;
        text-align: center;
    }
    .footer-container img{
        width: 262px;
        height: 110px;
    }
    .footer-container ul{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .footer-container ul li {
        margin-left: 14px;
        padding: 15px;
        background: #E7E7E8;
        border-radius: 50%;
        display: inline;
    }
    .footer-container ul li a{
        display: inline;
    }
    .footer-container ul li a .fa{
        color:#969BAB;
        font-weight: 700;
        display: inline;
    }
    .footer-container p{
        font-size: 18px;
        line-height: 24px;
        color: #000;
        font-weight: 400;
    }
/* footer-section code end here */